.parallelogram-wrapper {
    width: 80vw;
    /* Adjust the width as needed */
    height: 50vh;
    /* Adjust the height as needed */
    overflow: hidden;
    /* Hide the overflow */
  }
  
  .parallelogram {
    width: 100%;
    height: 100%;
    background: rgb(3, 2, 17);
    background: linear-gradient(90deg, rgb(20, 21, 24) 0%, rgb(17, 19, 24)00%);
    clip-path: polygon(100% 0, 100% 77%, 0 100%, 0 25%);
    position: relative;
    /* Add relative positioning for the nested parallelogram */
  }
  
  
  .parallelogram-content {
    margin: 0;
    /* Remove default margins for the content */
    color: white;
    /* Optional: Set the text color */
    position: absolute;
    /* Position the content absolutely */
    top: 50%;
    /* Center the content vertically */
    left: 50%;
    /* Center the content horizontally */
    transform: translate(-50%, -50%);
    /* Adjust the content position */
  }